h1.title Chars
table.table.table-striped(ng-show="chars.length > 0")
	tr
		td(width="30")
		td(width="200") Serial
		td 
			a(ng-click="orderBy('name')") Name 
				i.glyphicon.glyphicon-chevron-up(ng-hide="sortBaseKey==null || sortBaseKey!='name' || sortBaseOrder == true")
				i.glyphicon.glyphicon-chevron-down(ng-hide="sortBaseKey==null || sortBaseKey!='name' || sortBaseOrder == false")
		td 
			a(ng-click="orderBy('race')") Race 
				i.glyphicon.glyphicon-chevron-up(ng-hide="sortBaseKey==null || sortBaseKey!='race' || sortBaseOrder == true")
				i.glyphicon.glyphicon-chevron-down(ng-hide="sortBaseKey==null || sortBaseKey!='race' || sortBaseOrder == false")
	//tr(ng-repeat="char in chars", ng-class="{ 'selection--mark': char.select }")
	tr(ng-repeat="char in chars | filter: searchBase | orderBy: sortBaseKey: sortBaseOrder", ng-class="{ 'selection--mark': char.select }")
		td
			input(type="checkbox", ng-model="char.select")
		td {{char.serial | ellipsis:5}}
		td {{char.name}}
		td {{char.race}}
.text-center(ng-show="chars.length == 0")
	h4 no char created yet
button.btn.btn-danger.btn-block(ng-click="deleteChar(chars)", ng-show="isSelectChar(chars)") delete