.form.addChar
	h4 Add Char
	form(name="formAddChar")
		input.form-control(ng-class="{'form-item-error': formAddChar.name.$invalid && formAddChar.name.$dirty }", name="name", type="text", placeholder="Name", ng-model="char.name", ng-required="true")
		select.form-control(ng-class="{'form-item-error': formAddChar.race.$invalid && formAddChar.race.$dirty }", name="race", ng-model="char.race", ng-options="race.name as race.name group by race.type for race in races", ng-required="true")
			option(value="") Race
		button.btn.btn-primary.btn-block(ng-click="addChar(char)", ng-disabled="formAddChar.$invalid") add

		.alert.alert-danger(ng-show="formAddChar.name.$invalid && formAddChar.name.$dirty") Complete the field 'Name'
		.alert.alert-danger(ng-show="formAddChar.race.$invalid && formAddChar.race.$dirty") Complete the field 'Race'