*
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

body > .container-fluid
	padding 0
	
#documentation
	color #000
	
.form
	input,
	select,
	textarea
		margin-bottom 10px
		
.selection
	&--mark
		background #FFFFAA !important

.bind
	padding-left 0 !important
	padding-right 0 !important
	&--left
		padding-left 0 !important
	&--right
		padding-right 0 !important

.sidebar
	background #F8F8F8
	height 100vh
	padding 15px
	border-right 1px solid #ececec

.table
	margin-bottom 0 !important

.header
	background #C2185B
	h1
		text-align center
		color #fff
		font-weight 300
		padding 0
		margin 0
		font-size: 1.7em;
		padding 14px
.title
	margin 10px
	font-weight 300
	text-align center
.form-item-error
	border 1px solid #a94442 !important