<!DOCTYPE html>
html(lang="pt-BR", ng-app="app")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Ajax
		link(rel="stylesheet", type="text/css", href="../dist/css/main.css")
		link(rel="stylesheet", type="text/css", href="../components/bootstrap/dist/css/bootstrap.min.css")

		<!--[if lt IE 9]>
		script(type="text/javascript", src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(type="text/javascript", src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->
	body#ajax(ng-controller="MainCtrl")
		.gallery
			img(ng-repeat="data in api.data", src="{{data.images.standard_resolution.url}}")
			.clear
		script(type="text/javascript", src="../components/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="../components/angular/angular.min.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/controller/controller.js")