
<div class="form addChar">
  <h4>Add Char</h4>
  <form name="formAddChar">
    <input ng-class="{'form-item-error': formAddChar.name.$invalid &amp;&amp; formAddChar.name.$dirty }" name="name" type="text" placeholder="Name" ng-model="char.name" ng-required="true" class="form-control"/>
    <select ng-class="{'form-item-error': formAddChar.race.$invalid &amp;&amp; formAddChar.race.$dirty }" name="race" ng-model="char.race" ng-options="race.name as race.name group by race.type for race in races" ng-required="true" class="form-control">
      <option value="">Race</option>
    </select>
    <button ng-click="addChar(char)" ng-disabled="formAddChar.$invalid" class="btn btn-primary btn-block">add</button>
    <div ng-show="formAddChar.name.$invalid &amp;&amp; formAddChar.name.$dirty" class="alert alert-danger">Complete the field 'Name'</div>
    <div ng-show="formAddChar.race.$invalid &amp;&amp; formAddChar.race.$dirty" class="alert alert-danger">Complete the field 'Race'</div>
  </form>
</div>