
<h1 class="title">Chars</h1>
<table ng-show="chars.length &gt; 0" class="table table-striped">
  <tr>
    <td width="30"></td>
    <td width="200">Serial</td>
    <td> <a ng-click="orderBy('name')">Name <i ng-hide="sortBaseKey==null || sortBaseKey!='name' || sortBaseOrder == true" class="glyphicon glyphicon-chevron-up"></i><i ng-hide="sortBaseKey==null || sortBaseKey!='name' || sortBaseOrder == false" class="glyphicon glyphicon-chevron-down"></i></a></td>
    <td> <a ng-click="orderBy('race')">Race <i ng-hide="sortBaseKey==null || sortBaseKey!='race' || sortBaseOrder == true" class="glyphicon glyphicon-chevron-up"></i><i ng-hide="sortBaseKey==null || sortBaseKey!='race' || sortBaseOrder == false" class="glyphicon glyphicon-chevron-down"></i></a></td>
  </tr>
  <!--tr(ng-repeat="char in chars", ng-class="{ 'selection--mark': char.select }")-->
  <tr ng-repeat="char in chars | filter: searchBase | orderBy: sortBaseKey: sortBaseOrder" ng-class="{ 'selection--mark': char.select }">
    <td>
      <input type="checkbox" ng-model="char.select"/>
    </td>
    <td>{{char.serial | ellipsis:5}}</td>
    <td>{{char.name}}</td>
    <td>{{char.race}}</td>
  </tr>
</table>
<div ng-show="chars.length == 0" class="text-center">
  <h4>no char created yet</h4>
</div>
<button ng-click="deleteChar(chars)" ng-show="isSelectChar(chars)" class="btn btn-danger btn-block">delete</button>